{#
 * @file
 * FAQ List Display Pattern Twig.
#}

{# Content #}
<div class="faq-list-content">
  {# Title field #}
  {% if title | render %}
    <div class="faq-list-content-title clearfix">
      <h2>
        {{ title }}
      </h2>
      <span class="pull-right collapseManager">+</span>
    </div>
  {% endif %}
  {# Body field #}
  {% if body | render %}
    <div class="faq-list-content-body hidden clearfix">
      {{ body }}
    </div>
  {% endif %}
</div>
