.block-social-sharing-block {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 499; }
  .block-social-sharing-block .social-media-sharing ul {
    display: block; }
    .block-social-sharing-block .social-media-sharing ul li {
      display: table;
      margin-bottom: 5px; }

.user-logged-in .block-social-sharing-block {
  top: 280px; }

.social-media-sharing ul li a {
  display: block; }
  .social-media-sharing ul li a:hover {
    text-decoration: none; }
  .social-media-sharing ul li a.share:after {
    width: 45px;
    height: 45px;
    display: block;
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 4.5rem;
    line-height: 4.5rem; }
  .social-media-sharing ul li a.share.facebook-share:after {
    content: 'u';
    background: #3b5998;
    font-size: 4rem; }
  .social-media-sharing ul li a.share.facebook-msg:after {
    content: unset;
    background: #3b5998; }
  .social-media-sharing ul li a.share.linkedin:after {
    content: 'L';
    background: #0077b5; }
  .social-media-sharing ul li a.share.twitter:after {
    content: 'V';
    background: #1da1f2; }
  .social-media-sharing ul li a.share.pinterest:after {
    content: unset;
    background: #cb2027; }
  .social-media-sharing ul li a.share.google-plus:after {
    content: '2';
    background: #e7725d; }
  .social-media-sharing ul li a.share.email:after {
    content: 'P';
    background: #3c3c3c;
    text-indent: -5px; }
  .social-media-sharing ul li a img {
    display: none; }

@media only screen and (max-width: 1071px) {
  .block-social-sharing-block {
    position: static;
    text-align: center;
    margin-top: 3rem;
    border-top: 1px solid #eee;
    padding-top: 20px; }
    .block-social-sharing-block .social-media-sharing ul {
      display: inline-flex; }
      .block-social-sharing-block .social-media-sharing ul li {
        display: inline;
        margin-bottom: 0px;
        margin-right: 0px; }
        .block-social-sharing-block .social-media-sharing ul li a.facebook-share:after, .block-social-sharing-block .social-media-sharing ul li a.linkedin:after, .block-social-sharing-block .social-media-sharing ul li a.twitter:after, .block-social-sharing-block .social-media-sharing ul li a.google-plus:after, .block-social-sharing-block .social-media-sharing ul li a.email:after {
          display: block;
          margin-right: 10px; } }
