#cern-toolbar {
  background: #191919;
  padding: 0 5%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}
#cern-toolbar h1 {
  font-family: "opensans-bold";
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 32px;
  margin: 0;
}
#cern-toolbar h1 span {
  font-family: "opensans-regular";
}
#cern-toolbar a {
  color: #ffffff;
  text-decoration: none;
}
#cern-toolbar ul {
  font-family: "opensans-semibold";
  font-size: 12px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}
#cern-toolbar ul li {
  display: inline-block;
}
#cern-toolbar ul li a {
  color: #ffffff;
  line-height: 32px;
}
#cern-toolbar ul li:first-child {
  margin: 0 50px 0 0;
}

@media only screen and (max-width: 1023px) {
  #cern-toolbar {
    background: #1d2c38;
  }
}
@media only screen and (max-width: 767px) {
  #cern-toolbar ul li:first-child {
    margin: 0 10px 0 0;
  }
}
