{#

Custom template that defines the custom welcome block

VARIABLES
1. site_domain: Provides the site domain

#}

<div>
    <p>This is your new Drupal website hosted at CERN. Drupal websites at CERN come with some out-of-the box functionalities.</p>

		<h3>Quick Tour</h3>
			<p>Before you get started lets have a quick tour of your newly created website.</p>
			<ul>
				<li>From the <a  href="{{ site_domain }}/admin/structure/menu/manage/main?destination=/admin/structure/menu">Main Navigation menu settings</a>
					you can add/remove/update menu items of the basic menu</li>
				<li>In the <a href="{{ site_domain }}/admin/appearance/settings/cernclean">CERN Theme settings</a> you can
					change the color palette of the website and also choose whether you want the <strong>Site Name, Slogan and
					Logo to appear</strong></li>
				<li>You can change basic information of your website like the Name, slogan etc, in the <a href="{{ site_domain }}/admin/config/system/site-information"> Basic site settings page</a>.</li>

			</ul>

    <h3>The Drupal Infrastructure</h3>
    <p>The Drupal Infrastucture at CERN provides a collection of useful functionalities for all Drupal websites.

    <ul>
        <li>Hosting the websites</li>
        <li>Keeping track and updating the <a href="https://www.drupal.org/project/drupal">Drupal core</a></li>
        <li>Hosting and updating the themes and modules that CERN exclusively provides.</li>
        <li>Provides a set of extremely useful functionalities for your Drupal websites like keeping backups,
            cloning your website, connecting your website to webdav, keeping statistics and many more. You can find more
            in the <a href="http://information-technology.web.cern.ch/book/drupal-infrastructure-services/site-management">Site management documentation</a> of Drupal infrastructure</li>
    </ul>
    <p>The drupal infrastructure is managed by the <a href="http://information-technology.web.cern.ch/services/Drupal-Service">IT department of CERN</a>.</p>
    <h3>Theme</h3>
    <p>The default enabled theme is the <strong>CERN Theme</strong>. If you want to know more regarding the CERN Theme and what it offers,
        you can have a look in the <a href="https://webtools.web.cern.ch/technologies/drupal/styling/cern-theme">official Documentation</a>.
        If you want to know more about the theme structure at CERN, you can read <a href="https://webtools.web.cern.ch/technologies/drupal/styling/drupal-themes-structure">this detailed article</a>.
    </p>

    <h3>Modules</h3>
    <p>CERN also provides a set of useful modules to help you build and style your Drupal website.</p>
    <ul>
        <li><strong><a href="https://webtools.web.cern.ch/technologies/drupal/expansion/cern-components">CERN Components</a></strong>:
            provides a set of patterns which constitute out-of-the box layouts in order to render your content using pre-defined styles.</li>
        <li><strong><a href="https://webtools.web.cern.ch/technologies/drupal/expansion/cern-display-formats">CERN Display Formats</a></strong>
            The CERN Display Formats module provides pre-defined rendering formats for views. The formats are nicely
            combined with the components and produce neat views to display your content.</li>
        <li><strong><a href="https://webtools.web.cern.ch/technologies/drupal/expansion/landing-pages">CERN Landing Page</a></strong>:
					  Have you ever thought how the the pages regarding <a href="https://home.cern/science/accelerators" target="_blank">Accelerators</a>,
					the <a href="https://home.cern/science/physics/standard-model" target="_blank">Standard Model</a> and the <a href="https://home.cern/science/computing/birth-web" target="_blank">Birth of the Web</a>
					  are built? The CERN Landing Page module provides an out-of-the-box content type that gives you the
            opportunity to build your own pages piece by piece using pre-designed components like Hero Headers,
            Image Galleries, Banners etc. In other words if you want to have a predefined content type in order to build
            beautiful - landing pages and you don't want to mess with HTML, CSS and JS - the Landing Page module is your answer.</li>
        <li><strong><a href="https://webtools.web.cern.ch/technologies/drupal/expansion/cern-indico-feeds">CERN Indico Feeds / Events</a></strong>:
            The package CERN Indico Feeds provides integration with Indico (indico.cern.ch) and allows you to import
            Indico events in your website. The package CERN Indico Events provides a content type called 'Indico Event'
            for creating nodes of Indico Events imported from the CERN Indico Feeds module.</li>
        <li><strong><a href="https://webtools.web.cern.ch/technologies/drupal">and more...</a></strong></li>
    </ul>
    <p>The themes and modules are maintained by the Web Team of IR.</p>
    <h3>Resources</h3>
    <p>While working with Drupal at CERN, the following resources should be your best friend.</p>
    <ul>
        <li><strong><a href="https://e-groups.cern.ch/e-groups/Egroup.do?egroupId=10326141" target="_blank">Drupal Community</a></strong>: Join the e-group of Drupal Community in order to receive informative
            emails regarding news of the themes and modules of CERN. You will also receive invitations for the <strong>Hack Meetings</strong>
            which take place every 2 weeks.</li>
        <li><strong><a href="https://drupal-community.cern.ch" target="_blank">Drupal Community Forum</a></strong>: Do you have a question or
            a suggestion concerning your Drupal website? You can post it in the forum and the Drupal community of CERN will
            respond as soon as possible. The Drupal Community Forum is the suggested way to ask questions regarding Drupal
            since your questions and the answers will be visible to everyone and encourages knowledge transfer.</li>
        <li><strong><a href="https://webtools.web.cern.ch" target="_blank">Webtools website</a></strong>: It includes official
            documentation for the <strong>themes</strong>, <strong>modules</strong>, <strong>how-to articles</strong>,
            <strong>FAQs</strong></strong> as long as a guide for Drupal beginners.</li>
    </ul>

		<p>In order to remove this block from the front page, navigate to the <a href="{{ site_domain }}/admin/structure/block">Block Layout</a> and either Disable or Remove
		the Welcome Message Block from the Main content region</p>
</div>