{#
 * @file
 * System Full Content Display Pattern Twig.
#}

{# Center content #}
<div class="system-node-center-content clearfix mt-1 mb-4">

  {# Title field #}
  {% if title | render %}
    <h1 class="system-node-full-content-title mb-4">
      {{ title }}
    </h1>
  {% endif %}
  {# Body field #}
  <div class="mt-2">
    {% if body | render %}
      <div class="system-node-full-content-body full-html-markup full-text-animation">
        {{ body }}
      </div>
    {% endif %}
  </div>
</div>
