<div class="component-quote">
  <quote>
    {% if title | render %}
      <div>
        <span>{{ title }}</span>
      </div>
    {% endif %}
    {% if author | render %}
      <span>-
        {{ author }}</span>
    {% endif %}
  </quote>
</div>
