{#
 * @file
 * Margin pattern.
#}

{# Class for size #}
{% set class = 'component-margin-'~ variants.size.value %}

{# Set background color #}
{% set bgcolor = ["background-color:" ~ variants.bgcolor.color|get_rgba(variants.bgcolor.opacity) ~ ";",] %}

{# Create style attribute #}
{% set attributes = create_attribute() %}
{% if variants.bgcolor.color | render is not empty %}
    {% set attributes = attributes.addClass(classes).setAttribute('style', bgcolor) %}
{% endif %}

<div class="component-margin {{class}}" {{ attributes }}></div>
