{#
/**
 * @file
 * Slider pattern.
 */
#}

<div {{ attributes.addClass('component-slider') }}>
  <div {{ attributes.addClass('owl-carousel', 'owl-theme', 'slider-carousel') }}>
  {# Break up the individual items in to the appropriate template var. #}
    {% if items.0 and items.0.title %}
      {% for item in items %}
        {{ pattern('slide', item) }}
      {% endfor %}
    {% else %}
      {{ items }}
    {% endif %}
  </div>
</div>
