{#
 * @file
 * Header block pattern.
#}

{# Title attributes #}
{% set title_attributes = create_attribute() %}
{% set title_attributes = title_attributes.addClass("text-component-title") %}

{% if variants.title_color.color %}
  {% set title_attributes = title_attributes.setAttribute('style', "color:" ~ variants.title_color.color ~ "") %}
{% endif %}

{# Text attributes #}
{% set text_attributes = create_attribute() %}

{% set text_attributes = text_attributes.addClass("text-component-text") %}

{% if variants.text_color.color %}
  {% set text_attributes = text_attributes.setAttribute('style', "color:" ~ variants.text_color.color ~ "") %}
{% endif %}

{# Detect is the format text is CERN Full HTML #}
{% set text_format = text.field_p_text_text['#items'].0.format %}
{% set text_attributes = text_attributes.addClass(text_format) %}

{# Text component #}
<div class="text-component text-component-page clearfix">
  {# Title field #}
  {% if title | render %}
    <h2 {{title_attributes}}>
      {{title}}
    </h2>
  {% endif %}
  {# Text field #}
  {% if text | render %}
    <div {{text_attributes}}>
      {{text}}
    </div>
  {% endif %}
</div>
