{#
/**
 * @file
 * Theming template to display Event Collision display format
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}


{% if title %}
	<h3>{{ title }}</h3>
{% endif %}


{% for row in rows %}
	{% set row_classes = [default_row_class ? 'views-row col-md-4',] %}
	{% if loop.first != true and loop.index0  is divisible by(3) %}
		</div>
	{% endif %}
	{% if loop.index0 is divisible by(3) %}
		<div class="carousel-cern-item row">
	{% endif %}
	<div{{ row.attributes.addClass(row_classes) }}>{{ row.content }}</div>
	{% if loop.last == true %}
		</div>
	{% endif %}
{% endfor %}

