{% set icon_attributes = create_attribute().addClass('icon_component__icon icon-' ~ icon|render) %}
{% set text_attributes = create_attribute().addClass('icon_component__text') %}
{% if variants.component_icon_cl.color %}
  {% set icon_attributes = icon_attributes.setAttribute('style', "color:" ~ variants.component_icon_cl.color) %}
{% endif %}
{% if variants.component_text_cl.color %}
  {% set text_attributes = text_attributes.setAttribute('style', "color:" ~ variants.component_text_cl.color) %}
{% endif %}
<div class="icon_component__wrapper col-lg-4 col-md-4 col-sm-12 ">
  <div class="letter-wrapper">
    {% if icon | render %}
      <span {{ icon_attributes }}></span>
    {% endif %}
  </div>

  {% if text | render %}
    <div {{ text_attributes }}>
      {{ text }}
    </div>
  {% endif %}
</div>
