{#
/**
 * @file
 * Header block pattern.
 */
#}

<div class="cern-component-header-blocks component-header">
    <div {{ attributes.addClass('owl-carousel', 'owl-theme', 'component-header__carousel', 'header-carousel') }}>
        {# Break up the individual items in to the appropriate template var. #}
        {% if items.0 and items.0.title %}
            {% for item in items %}
                {{ pattern('header_block', item) }}
            {% endfor %}
        {% else %}
            {{ items }}
        {% endif %}
    </div>
    {% if variants.down_btn.value == 1 %}    
        <span class="component-header__scroll"></span>
    {% endif %}
</div>
<a class="endof-cern-header-blocks"></a>

